<h1>All Products</h1>
  <%= link_to "Product Page", products_path(@product) %>
  <% @products.each do |product| %>
    <%= product.name %>
    <%= product.description %>
    <%= product.formatted_price %>
  <% end %>
